.main {
  padding: $gutter-size;
  margin-top: $gutter-size;
}

.testnetError {
  color: $brand-danger;
}

.testnetReset {
  color: $brand-warning;
}

.blockHightlight {
  color: $highlight-inverse-color;
}

.progressBar{
  margin-top: 6px;
  height: 5px;
  border-radius: 0;
}
