.main {
  margin: 36px 0 0;
  padding: 0 26px; 
  color: #78808D;
}

.testnetError {
  color: $brand-danger;
}

.testnetReset {
  color: $brand-warning;
}

.blockHightlight {
  color: $highlight-inverse-color;
  font-size: 14px;
}

.progressBar{
  margin-top: 6px;
  height: 5px;
  border-radius: 0;
}

.status {
  font-size: 12px;
}

.peerCount {
  margin-top: 14px;
  margin-bottom: 16px;

  a {
    padding: 0;
    line-height: 20px;
    height: unset;
    font-size: 14px;
  }
}