.submitIndicator{
  float:right;
}

.btnGroup{
  display: flex;
  >div{
    width: 50%;
    button{
      width: 100%;
    }
  }

  >button{
    width: 50%;
    margin-left: $gutter-size;
  }
}

.hr{
  margin-top: 11px;
  margin-bottom: 11px;
}

.table{
  word-break: break-all;
  width: 100%;
  td{
    padding: 4px 0px;
  }
}

.colLabel{
  width: 20%;
  color: $text-strong-color;
  font-weight: 500;
  color:#78808D;
  font-size: 16px;
}

.colValue {
  text-align: right;
  color: #444B57;
  font-weight: 500;
  font-size: 16px;
}

.unit{
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  width: 130px;
  display: inline-block;
}
