.main {
  background: $background-color;
  color: $text-strong-color;
  width: 100%;
  margin-bottom: $gutter-size;


  th {
    height: 60px;
    font-weight: 500;

    &:first-child {
      padding-left: 0;
      width: auto;
    }
  }
  td {
    height: 60px;
    border-bottom: solid 1px #eee;
    color: #747c89;

    &:first-child {
      padding-left: 0;
      width: initial !important;
    }
  }


  :global {
    .btn-link {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1;
    }
  }
}

.tr {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  padding: 24px;
  border: 1px solid #e1e3e6;
  box-shadow: 0px 4px 2px -2px rgba(27, 46, 94, 0.02);
  border-radius: 8px;
  a {
    color: #444b57;
  }
  a[href] {
    text-decoration: underline;
  }
}

.td {
  display: inline-block;
  margin-right: 80px;
  font-size: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.label {
  color: #78808d;
  line-height: 24px;

  & + span.value {
    margin-left: 12px;
  }
  & + div.value {
    margin-top: 10px;
  }
}

.value {
  color: #444b57;
  line-height: 24px;
  word-break: break-all;
}

.break {
  display: inline-block;
  vertical-align: top;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: unset;
}

.full {
  width: 100%;

  & + .full {
    margin-top: 24px;
  }
}

.right {
  margin-left: auto;
  margin-right: 0 !important;
}

.link {
  margin: -15px 0;
  padding: 15px;
  position: relative;

  background: url('images/chevron-dark.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 7px 14px;
}

@media (max-width: 1440px) {
  .td {
    margin-right: 45px;
  }
}
