.seed{
  user-select: none;
  width: 100px;
  height: 23px;
  background-color: #48566e;
  border-radius: 3px;
  color: #fff;
  margin: 5px;
  float: left;
  text-align: center;
}

.copy{
  width: 177px;
  margin: 4px;
}
