.dropdownButton {
  text-align: left;
  width: 90px;
}

.btn {
  padding-right: 20px;

  button {
    border-radius: 8px !important;
  }
}

// .aliasFieldGroupItem {
//   border-top-left-radius: 0 !important;
//   border-bottom-left-radius: 0 !important;
//   border-top-right-radius: $input-border-radius-large !important;
//   border-bottom-right-radius: $input-border-radius-large !important;
// }
