.main{
  background-color: $background-color;
  border: 1px solid $border-color;
  margin-bottom: 30px;
  font-family: Nitti;
}

.title{
  border-bottom: 1px solid $border-color;
  padding: 5px 10px;
  color: $text-strong-color;
}

.messageBox{
  padding: 5px 10px;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}
