.table {
  table-layout: fixed;
  width: 100%;
  box-shadow: 0px 4px 2px -2px rgba(27, 46, 94, 0.02);
  border-radius: 8px;
  border: 1px solid #E1E3E6;

  td {
    vertical-align: top;
    padding: 10px $gutter-size;
    line-height: 15px;
  }

  a .pre {
    color: $highlight-default;
  }

  tr:first-child td {
    padding-top: 20px;
  }

  tr:last-child td {
    border-bottom: none;
    padding-bottom: 20px;
  }
}

.edit {
  float: right;
  font-size: $font-size-base;
}

.detail {
  padding: 0px;
  margin: 0px;
  line-height: 15px;
}

.pencil {
  padding-right: 5px;
  font-size: 10px;
  font-weight: 600;
}

.label {
  background: $background-color;
  color: #78808D;
  width: 200px;
  font-size: 16px;
  text-transform: uppercase;
}

.value, .pre {
  font-size: $font-size-code;
  color: #444B57;
  font-size: 16px;
}

.value {
  word-wrap: break-word;
  // font-family: Nitti;
}

.pre {
  display: inline-block;
  padding: 0;
  margin: 0;

  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;

  border: none;
  line-height: 1.4;
}

.copyButton{
  padding: 0px 8px 2px;
  img{
    width: 18px;
  }
}
