.capsIcon{
  background-image: url('images/capslock.svg');
}

.capsIconGreen{
  background-image: url('images/capslock-green.svg');
}

.password{
  background-repeat: no-repeat;
  background-position: 99% center;
  background-size: 20px 20px;
  padding-right: 30px;

  -webkit-text-security:disc !important;
}

.dotFont{
  font-family:dotsfont;
}
