.main {
  text-align: center;
  list-style-type: none;
  padding: 0;
  user-select: none;
  margin-top: $gutter-size;

  li {
    display: inline-block;
    margin: 0 $gutter-size;
  }
}

.pagination-S {
  list-style-type:none;
  li{
    position: relative;
    display: inline-block;
    a,span{
      position: relative;
      float: left;
      line-height: 26px;
      text-decoration: none;
      color: $highlight-default;;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      padding: 2px;
      &:hover{
        color: $highlight-secondary;
      }
    }
    span[aria-label="Previous"],
    span[aria-label="Next"]
    {
      border: 2px solid $highlight-default;
      color: $highlight-default;
      cursor: pointer;
      display: block;
      font-size: $font-size-btn-lg;
      margin: -2px;
      &:hover {
        border-color: $highlight-secondary;
        color: $highlight-secondary;
      }
    }
  }
  :global .active{
    a{
      background-color: $highlight-default;
      color: $background-color;
    }
  }
  :global .disabled {
    span{
      border-color: $text-color;
      color: $text-color;
    }
    span[aria-label="Previous"],
    span[aria-label="Next"]{
      display:none;
    }
  }
}

